.card{
    border: solid black 2px;
    border-radius: 5px;
}

.cardformat{
    width: 100%;
}

.cardleft{
    text-align:left;
    padding: 10px;
}

.cardright{
    text-align:right;
    padding: 10px;
}