.card{
    border: solid black 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}

.cardformat{
    text-align:center;
}

.cardleft{
    text-align:left;
    padding: 10px;
    width:40%;
    float:left;
}

.cardright{
    text-align:center;
    padding: 10px;
    width:60%;
    float:left;
}

.tablewidth{
    width: 100%;
}

.colwidth{
    width: 50%;
}

.offrightby10{
    text-align: right;
    margin-right: 10px;
}